<div class="container-fluid">
<h1 align="center">Projects</h1>

<table align="center">
  <thead>
    <tr>
      <th>Due date</th>
      <th>Payment amount</th>
      <th>Name</th>
      <th>Description</th>
      <th>Contact info</th>
      <th>Developer type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.due_date %></td>
        <td><%= project.payment_amount %></td>
        <td><%= project.name %></td>
        <td><%= project.description %></td>
        <td><%= project.contact_info %></td>
        <td><%= project.developer_type %></td>

        <% if policy(project).show? %>
        <td><%= link_to 'Show', project %></td>
        <% end %>
  
    
        <% if policy(project).edit? %>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <% end %>
     
        <% if policy(project).destroy? %>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
   
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>

</div>
