<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user_preference.username %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user_preference.bio %>
</p>

<p>
  <strong>Developer type:</strong>
  <%= @user_preference.developer_type %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_preference.user %>
</p>

<% if policy(@user_preference).edit? %>
<%= link_to 'Edit', edit_user_preference_path(@user_preference) %> |
<% end %>
<%= link_to 'Back', user_preferences_path %><br />

<% if policy(UserProject.new).create? %>
 <%= link_to "View Projects", projects_path, class: "btn btn--md btn-primary" %>
 <% end %>

